@model IEnumerable<Clinic_Management_System.Product_Type>

@{
    ViewBag.Title = "Product_Type_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product_Type_List</h2>

<p>
    @Html.ActionLink("Create New", "Product_Type_Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Product_Type_Edit", new { id=item.Id }) |
   
            @Html.ActionLink("Delete", "Product_Type_Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
